<div class="container mt-4">
    <h1 class="mb-4">Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">Add or Modify Users here</p>
                    <a asp-controller="Admin" asp-action="ManageUsers" class="btn btn-custom">Go to Manage Users</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Manage Products</h5>
                    <p class="card-text">Add or Modify Products here</p>
                    <a asp-controller="Admin" asp-action="ManageMedi" class="btn btn-custom">Go to Manage Products</a>
                </div>
            </div>
        </div>
    </div>
</div>

