@{
    ViewData["Title"] = "Membership Success";
}

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Congratulations!</h2>
    <p>You are now a member. Thank you for joining us!</p>
    <a href="/" class="btn btn-primary">Go to Home</a>
</div>
